/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: rgba(0,0,0,.05);}

.container {
  position: relative;
  padding: 5px;
}

.componentTitle {
  text-align:center;
  background: rgba(0,0,0,.2);
  margin: -5px;
  padding: 10px;
}

// .loading-shade {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 56px;
//   right: 0;
//   background: rgba(0, 0, 0, 0.1);
//   z-index: 11;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.progress-bar-container {
  height: 2px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 90;
}

.flat-button {
  margin: 5px;
}